<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ir.appson.sportfeed">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".ApplicationNEWS"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".views.allnewspage.AllNEWSActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:parentActivityName=".views.firstPage.FirstPageActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <activity
                android:name=".views.channelnewspage.ChannelNEWSActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:parentActivityName=".views.newfirstpage.NewMainActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <activity
                android:name=".views.detailnewspage.DetailNEWSActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label=""
                android:parentActivityName=".views.channelnewspage.ChannelNEWSActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <activity
                android:name=".views.about.AboutUsActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_about_us"
                android:parentActivityName=".views.newfirstpage.NewMainActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <activity
                android:name=".CustomerSupportActivity"
                android:label="@string/title_activity_customer_support"
                android:parentActivityName=".views.newfirstpage.NewMainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <activity
                android:name=".ReportSuggestionActivity"
                android:label="@string/title_activity_support_national_team"
                android:parentActivityName=".views.newfirstpage.NewMainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".views.newfirstpage.NewMainActivity"/>
        </activity>
        <!---->
        <activity
                android:name=".views.newfirstpage.NewMainActivity"
                android:label="@string/title_activity_new_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
